# ISOF placenameservice
* [this notebook](https://github.com/salgo60/open-data-examples/blob/master/ISOF%20placenameservice.ipynb) 
* see task [T267639](https://phabricator.wikimedia.org/T267639)

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2020-11-10 14:23:08.863350

In [45]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
urlbase = "https://placenameservice.isof.se/PlaceNameService/" 
url_service = "v1/geo-reference/parishes"

url = urlbase + url_service + "?format=json"
data_parishes = pd.read_json(url)
data_parishes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535 entries, 0 to 2534
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country_area_name  2535 non-null   object
 1   country_code_2     2535 non-null   object
 2   county_id          2535 non-null   int64
 3   district_id        2535 non-null   int64
 4   fields             2535 non-null   object
 5   id                 2535 non-null   int64
 6   identifier         0 non-null      float64
 7   latitude           2535 non-null   float64
 8   longitude          2535 non-null   float64
 9   name               2535 non-null   object
 10  province_id        2520 non-null   float64
dtypes: float64(4), int64(3), object(4)
memory usage: 218.0+ KB

In [46]:
data_parishes.sample(10)

     country_area_name country_code_2  ...           name  province_id
1050           Sverige             SE  ...  Kungsäters sn          7.0
7              Sverige             SE  ...         Ala sn          6.0
503            Sverige             SE  ...     Fullösa sn          7.0
1601           Sverige             SE  ...        Röke sn          1.0
347            Sverige             SE  ...       Eftra sn          4.0
528            Sverige             SE  ...     Förlösa sn          5.0
2003           Sverige             SE  ...   Torslunda sn          3.0
1476           Sverige             SE  ...       Okome sn          4.0
2007           Sverige             SE  ...   Torsåkers sn         12.0
1480           Sverige             SE  ...    Oppmanna sn          1.0

[10 rows x 11 columns]

In [47]:
url_service = "v1/geo-reference/counties"

url = urlbase + url_service + "?format=json"
data_counties = pd.read_json(url)
data_counties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   code            24 non-null     object
 1   country_code_2  24 non-null     object
 2   fields          24 non-null     object
 3   id              24 non-null     int64
 4   identifier      0 non-null      float64
 5   name            24 non-null     object
 6   province_ids    24 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.4+ KB

In [65]:
data_counties

   code country_code_2  ...                     name  province_ids
0     k             SE  ...             Blekinge län           [2]
1     i             SE  ...             Gotlands län           [6]
2     x             SE  ...           Gävleborgs län      [18, 16]
3     o             SE  ...  Göteborgs och Bohus län        [7, 9]
4     n             SE  ...             Hallands län           [4]
5     z             SE  ...            Jämtlands län      [22, 19]
6     f             SE  ...           Jönköpings län           [5]
7     h             SE  ...               Kalmar län        [3, 5]
8     w             SE  ...          Kopparbergs län          [17]
9     l             SE  ...        Kristianstads län           [1]
10    g             SE  ...           Kronobergs län           [5]
11    m             SE  ...             Malmöhus län           [1]
12   bd             SE  ...          Norrbottens län      [24, 25]
13    r             SE  ...           Skaraborgs län           [7]
14   ab             SE  ...           Stockholms län      [15, 12]
15    d             SE  ...        Södermanlands län          [12]
16    c             SE  ...              Uppsala län          [15]
17    s             SE  ...            Värmlands län          [13]
18   ac             SE  ...        Västerbottens län  [23, 24, 21]
19    y             SE  ...      Västernorrlands län      [20, 21]
20    u             SE  ...         Västmanlands län  [14, 15, 12]
21    p             SE  ...            Älvsborgs län       [7, 10]
22    t             SE  ...               Örebro län      [11, 14]
23    e             SE  ...        Östergötlands län       [8, 12]

[24 rows x 7 columns]

In [66]:
url_service = "v1/geo-reference/districts"

url = urlbase + url_service + "?format=json"
data_districts = pd.read_json(url)
data_districts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country_area_name  296 non-null    object
 1   country_code_2     296 non-null    object
 2   county_id          296 non-null    int64
 3   fields             296 non-null    object
 4   id                 296 non-null    int64
 5   identifier         0 non-null      float64
 6   name               296 non-null    object
 7   province_id        292 non-null    float64
dtypes: float64(2), int64(2), object(4)
memory usage: 18.6+ KB

In [50]:
data_districts

    country_area_name country_code_2  ...                          name province_id
0             Sverige             SE  ...                       Albo hd         1.0
1             Sverige             SE  ...                        Ale hd         7.0
2             Sverige             SE  ...                 Algutsrums hd         3.0
3             Sverige             SE  ...                      Allbo hd         5.0
4             Sverige             SE  ...  Arvidsjaurs och Arjeplogs tg        24.0
..                ...            ...  ...                           ...         ...
291           Sverige             SE  ...                   Östkinds hd        12.0
292           Sverige             SE  ...                   Östkinds hd         8.0
293           Sverige             SE  ...                      Östra hd         5.0
294           Sverige             SE  ...                      Östra hd         2.0
295           Sverige             SE  ...                 Övertjurbo hd        14.0

[296 rows x 8 columns]

In [52]:
url_service = "v1/geo-reference/provinces"

url = urlbase + url_service + "?format=json"
data_provinces = pd.read_json(url)
data_provinces.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country_code_2  25 non-null     object
 1   county_ids      25 non-null     object
 2   fields          25 non-null     object
 3   id              25 non-null     int64
 4   identifier      0 non-null      float64
 5   name            25 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.3+ KB

In [53]:
data_provinces

   country_code_2     county_ids fields  id  identifier           name
0              SE            [9]     []   2         NaN       Blekinge
1              SE           [13]     []   9         NaN       Bohuslän
2              SE           [19]     []  17         NaN        Dalarna
3              SE           [14]     []  10         NaN       Dalsland
4              SE            [8]     []   6         NaN        Gotland
5              SE           [20]     []  16         NaN    Gästrikland
6              SE           [12]     []   4         NaN        Halland
7              SE           [20]     []  18         NaN    Hälsingland
8              SE           [22]     []  19         NaN     Härjedalen
9              SE           [22]     []  22         NaN       Jämtland
10             SE       [24, 23]     []  24         NaN       Lappland
11             SE           [21]     []  20         NaN       Medelpad
12             SE           [24]     []  25         NaN     Norrbotten
13             SE           [17]     []  11         NaN          Närke
14             SE       [10, 11]     []   1         NaN          Skåne
15             SE      [6, 7, 5]     []   5         NaN        Småland
16             SE  [3, 1, 18, 4]     []  12         NaN   Södermanland
17             SE     [2, 1, 18]     []  15         NaN        Uppland
18             SE           [16]     []  13         NaN       Värmland
19             SE           [23]     []  23         NaN   Västerbotten
20             SE   [14, 13, 15]     []   7         NaN  Västergötland
21             SE       [17, 18]     []  14         NaN    Västmanland
22             SE       [21, 23]     []  21         NaN   Ångermanland
23             SE            [7]     []   3         NaN          Öland
24             SE            [4]     []   8         NaN   Östergötland

In [57]:
url_service = "v1/place-name-basis/types"

url = urlbase + url_service + "?format=json"
data_placenamebasis = pd.read_json(url)
data_placenamebasis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   description  0 non-null      float64
 1   fields       3 non-null      object
 2   id           3 non-null      int64
 3   identifier   0 non-null      float64
 4   name         3 non-null      object
 5   old_name     3 non-null      object
dtypes: float64(2), int64(1), object(3)
memory usage: 272.0+ bytes

In [58]:
data_placenamebasis

   description fields  id  identifier                  name          old_name
0          NaN     []   1         NaN                Belägg  Äldre namnformer
1          NaN     []   3         NaN  Litteraturhänvisning         Etymologi
2          NaN     []   5         NaN           Uppteckning     Uppteckningar

In [67]:
url_service = "v1/place-name-basis/2222"

url = urlbase + url_service + "?format=json"
data_placenamebasis_2222 = pd.read_json(url)
print(url)
data_placenamebasis_2222.info()

https://placenameservice.isof.se/PlaceNameService/v1/place-name-basis/2222?format=json
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   comment               0 non-null      float64
 1   country_area_name     0 non-null      float64
 2   county_id             0 non-null      int64
 3   county_name           0 non-null      float64
 4   created_by            0 non-null      float64
 5   district_id           0 non-null      int64
 6   district_name         0 non-null      float64
 7   evidence_information  0 non-null      float64
 8   evidence_year_oldest  0 non-null      float64
 9   evidence_years        0 non-null      float64
 10  fields                0 non-null      float64
 11  geometry_source       0 non-null      float64
 12  geometry_source_id    0 non-null      int64
 13  has_back_side         0 non-null      bool
 14  has_back_side_image   0 non-null      bool
 15  has_front_side_image  0 non-null      bool
 16  has_pdf               0 non-null      bool
 17  id                    0 non-null      int64
 18  identifier            0 non-null      float64
 19  language              0 non-null      float64
 20  latitude              0 non-null      float64
 21  longitude             0 non-null      float64
 22  map_identifier        0 non-null      float64
 23  map_number            0 non-null      float64
 24  parish_id             0 non-null      int64
 25  parish_name           0 non-null      float64
 26  place_basis_type      0 non-null      float64
 27  place_name            0 non-null      float64
 28  place_name_basis      0 non-null      float64
 29  place_name_id         0 non-null      int64
 30  province_id           0 non-null      int64
 31  province_name         0 non-null      float64
 32  source                0 non-null      float64
 33  type                  0 non-null      float64
 34  updated_by            0 non-null      float64
 35  updated_date          0 non-null      float64
dtypes: bool(4), float64(25), int64(7)
memory usage: 124.0 bytes

In [68]:
data_placenamebasis_2222

Empty DataFrame
Columns: [comment, country_area_name, county_id, county_name, created_by, district_id, district_name, evidence_information, evidence_year_oldest, evidence_years, fields, geometry_source, geometry_source_id, has_back_side, has_back_side_image, has_front_side_image, has_pdf, id, identifier, language, latitude, longitude, map_identifier, map_number, parish_id, parish_name, place_basis_type, place_name, place_name_basis, place_name_id, province_id, province_name, source, type, updated_by, updated_date]
Index: []

In [69]:
# service to Convert old style 
# example of old http://www4.sprakochfolkminnen.se/NAU/bilder/_s1xx001/504225b1.htm
#url_service = "place-name-basis/file-address/"


#url = urlbase + url_service + "*"
#url = urlbase + url_service + "NAU/bilder/_s1xx001/504225b1.htm"
#url = urlbase + url_service + "_s1xx001/504225b1"
#url = urlbase + url_service + "_s1xx001/504225b1.htm"
#r = http.request('GET', url + "?format=json") 
#print (url, r.status)
#data = json.loads(r.data.decode('utf-8'))