# Dataset Pågående sjukfall per diagnos, specifikt för stressrelaterade sjukdomar 2005–

[Datamängd tillhandahållen av Försäkringskassan](https://oppnadata.se/datamangd/#esc_entry=4778&esc_context=547)

In [5]:
from IPython.display  import JSON
import requests
import json
baseUrl = "https://catalog.forsakringskassan.se/rowstore/dataset/"
endpoint = "bc40aa99-d0a1-4ee0-853c-2d4306c7fad2"
headers = {'content-type': 'application/json'}
url = baseUrl + endpoint
url

'https://catalog.forsakringskassan.se/rowstore/dataset/bc40aa99-d0a1-4ee0-853c-2d4306c7fad2'

In [6]:
# Call the API
req = requests.get(url,headers=headers)
data = json.loads(req.text)
type(data['results'])

list

In [7]:
len(data['results'])

100

In [8]:
import pandas as pd
from pandas.io.json import json_normalize

df = json_normalize(data['results'])

In [9]:
df.describe()

,kvartal,ar,lan_text,antal_f43_man,andel_f43_kvinna,andel_f43_man,antal_f43_kvinna,kommun_kod,lan_kod,andel_f43_samtliga,kommun_text,antal_f43_samtliga
count,100,100,100,100,100,100,100,100,100,100,100,100
unique,1,1,10,46,66,66,58,100,10,95,92,75
top,1,2005,Stockholms län,,,,,0763,01,,Samtliga kommuner,
freq,100,100,27,34,34,34,34,1,27,4,9,4

In [12]:
df

,kvartal,ar,lan_text,antal_f43_man,andel_f43_kvinna,andel_f43_man,antal_f43_kvinna,kommun_kod,lan_kod,andel_f43_samtliga,kommun_text,antal_f43_samtliga
0,1,2005,Riket,6124,12.34952547,7.0528619141,18907,0000,00,10.432669665,Samtliga kommuner,25031
1,1,2005,Stockholms län,28,14.125200642,8.3582089552,88,0114,01,12.108559499,Upplands-Väsby,116
2,1,2005,Stockholms län,10,10.792951542,5.0251256281,49,0139,01,9.0352220521,Upplands-Bro,59
3,1,2005,Stockholms län,47,12.962962963,6.657223796,168,0136,01,10.739260739,Haninge,215
4,1,2005,Stockholms län,60,13.735108619,8.2644628099,196,0126,01,11.890385509,Huddinge,256
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2005,Kalmar län,12,8.5106382979,7.1428571429,24,0860,08,8,Hultsfred,36
96,1,2005,Gotlands län,27,9.9747474747,5.7939914163,79,0980,09,8.426073132,Gotland,106
97,1,2005,Gotlands län,27,9.9747474747,5.7939914163,79,0900,09,8.426073132,Samtliga kommuner,106
98,1,2005,Blekinge län,25,14.089347079,7.1022727273,82,1082,10,11.456102784,Karlshamn,107
99,1,2005,Blekinge län,10,7.9069767442,6.8027210884,17,1060,10,7.4585635359,Olofström,27